{% extends 'good/base.html' %}
{% load static %}
{% block content %}

<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'good/images/shop_background.jpg' %}"></div>
		<div class="home_overlay"></div>
		<div class="home_content d-flex flex-column align-items-center justify-content-center">
			<h2 class="home_title"></h2>
		</div>
	</div>

	<!-- Shop -->

	<div class="shop">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">

					<!-- Shop Sidebar -->
					<div class="shop_sidebar">
						<div class="sidebar_section">
							<div class="sidebar_title"><a href="{% url 'index' %}">Все категории</a></div>


							<ul class="sidebar_categories">
							{% for c in cats %}
								<li><a href="{{c.get_absolute_url}}">{{ c.name }}</a></li>
							{% endfor %}
							</ul>
						</div>


					</div>

				</div>

				<div class="col-lg-9">

					<!-- Shop Content -->

					<div class="shop_content">
						<div class="shop_bar clearfix">
							<div class="shop_product_count"><span>{{ count }}</span> товаров найдено</div>
						</div>

						<div class="product_grid">
							<div class="product_grid_border"></div>

							<!-- Product Item -->
							{% for g in page_obj %}
							<div class="product_item is_new">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="{{g.photo.url}}" alt=""></div>
								<div class="product_content">
									<div class="product_price">₽{{g.price}}</div>
									<div class="product_name"><div><a href="{{ g.get_absolute_url }}" tabindex="0">{{g.model}}</a></div></div>
								</div>

								</ul>
							</div>
							{% endfor %}
						</div>

						<!-- Shop Page Navigation -->


							<ul>
								{% for p in page_obj.paginator.page_range  %}
								</li><a href="?page={{ p }}">{{ p }}<a/></li>
								{% endfor %}
							</ul>


					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}